/*GENERALES*/

body {
    background-color: #ECECEC;
    font-family: ‘Ubuntu’, sans-serif;
}

.texto-negro {
    color: #000000;
}

.texto-blanco {
    color: #FFFFFF;
}

.texto-azul {
    color: #1D73A6;
}

.texto-gris--oscuro {
    color: #807F80;
}

.fondo-azul {
    background-color: #1D73A6;
}

.fondo-gris {
    background-color: #ECECEC;
}

.fondo-blanco {
    background-color: #FFFFFF;
}

.fondo-gris--oscuro {
    background-color: #807F80;
}


/*MARGENES*/

.mt-010 {
    margin-top: -10vh;
}


/*NAVEGADOR*/

.img-logo-texto {
    width: 60px;
    height: 60px;
}

span {
    text-align: justify;
}


/*MAPA*/

#map {
    height: 500px;
    width: 100%;
}

.row {
    margin-bottom: 0;
    margin-top: 0;
}

footer {
    height: 5vh;
    margin-top: 3vh;
    padding-top: 1vh;
}