<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalle Producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" href="../css/detalle-producto.css">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/logo.png">
</head>

<body>
    <!--EMPIEZA EL NAV-->
    <div class="navbar-fixed">
        <nav class="fondo-azul">
            <div class="nav-wrapper">
                <a href=home.html class="">
                    <img class="img-logo-texto left" src="../assets/img/logo.png" alt="logo"> SEMINARIO UMG
                </a>
                <ul class="right">
                    <li><a href=../signin.html class="waves-effect waves-light btn fondo-gris black-text">SALIR<a></li>
		        </ul>
		    </div>
		 </nav>
  	</div>
  <!--TERMINA EL NAV-->
   <div id="producto" class="producto">
	<div class="container row fondo-blanco">
	  <h1 class="left-align texto-azul"><b>DETALLES</b></h1>
		<h3 class="texto-negro"><b>CÁMARA CANON<br> DSLR EOS</b></h3>
		<h4 class="texto-azul">Precio Actual <span>$4000</span></h4>
		<h4 class="texto-gris--oscuro">Precio Inicio <span>$4000</span></h4>


			<div class="carousel">
  		  <a class="carousel-item" href="#one!"><img src="https://firebasestorage.googleapis.com/v0/b/zunilito-7fbfd.appspot.com/o/autos%2Fmazda.jpg?alt=media&token=8f2c5aea-53be-40c1-bad0-86dd1cc12109"></a>
                        <a class="carousel-item" href="#two!"><img src="https://firebasestorage.googleapis.com/v0/b/zunilito-7fbfd.appspot.com/o/autos%2Fprimera.jpg?alt=media&token=39db02b6-457b-47b7-b62f-696c8927c809"></a>
                        <a class="carousel-item" href="#three!"><img src="https://firebasestorage.googleapis.com/v0/b/zunilito-7fbfd.appspot.com/o/autos%2Fsegunda.jpg?alt=media&token=7bff032e-933c-4873-a466-17c1dc7aa42d"></a>
                        <a class="carousel-item" href="#four!"><img src="https://firebasestorage.googleapis.com/v0/b/zunilito-7fbfd.appspot.com/o/autos%2Fcuarta.jpg?alt=media&token=b6d4d759-8024-417b-85c6-e40f37eb260b"></a>
                        <a class="carousel-item" href="#five!"><img src="https://firebasestorage.googleapis.com/v0/b/zunilito-7fbfd.appspot.com/o/autos%2Fsegunda.jpg?alt=media&token=7bff032e-933c-4873-a466-17c1dc7aa42d"></a>
            </div>
            <div class="row container">
                <div class="col s12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li class="">
                            <div class="collapsible-header fondo-azul texto-blanco"><b>D E T A L L E S :</b></div>
                            <div class="collapsible-body fondo-blanco"><span>
DESCRIPCIÓN
Mazda 2009, <br>Automatico, <br> Automatico <br> Lorem impsum <br>Disponible en color negro.</span></div>
                        </li>
                    </ul>
                </div>

                <div class="container row ">
                    <h3 class=" texto-gris--oscuro center"><b>DETALLES</b></h3>
                    <!-- INFORMACIÓN PRODUCTO  -->
                    <div class="container">
                        <h5 class="texto-negro"><b>CÁMARA CANON<br> DSLR EOS</b></h5>
                        <h6 class="texto-azul">Precio Actual <span>$4000</span></h6>
                        <h6 class="texto-gris--oscuro">Precio Inicio <span>$4000</span></h6>
                        <!-- carrusel -->
                        <div class="carousel row mt-010 center">
                            <a class="carousel-item" href="#one!"><img src="https://firebasestorage.googleapis.com/v0/b/zunilito-7fbfd.appspot.com/o/autos%2Fsegunda.jpg?alt=media&token=7bff032e-933c-4873-a466-17c1dc7aa42d"></a>
                            <a class="carousel-item" href="#two!"><img src="https://firebasestorage.googleapis.com/v0/b/zunilito-7fbfd.appspot.com/o/autos%2Fsegunda.jpg?alt=media&token=7bff032e-933c-4873-a466-17c1dc7aa42d" </a>
                                <a class="carousel-item" href="#three!"><img src="https://firebasestorage.googleapis.com/v0/b/zunilito-7fbfd.appspot.com/o/autos%2Fsegunda.jpg?alt=media&token=7bff032e-933c-4873-a466-17c1dc7aa42d"></a>
                                <a class="carousel-item" href="#four!"><img src="https://firebasestorage.googleapis.com/v0/b/zunilito-7fbfd.appspot.com/o/autos%2Fsegunda.jpg?alt=media&token=7bff032e-933c-4873-a466-17c1dc7aa42d"></a>
                                <a class="carousel-item" href="#five!"><img src="https://firebasestorage.googleapis.com/v0/b/zunilito-7fbfd.appspot.com/o/autos%2Fsegunda.jpg?alt=media&token=7bff032e-933c-4873-a466-17c1dc7aa42d"></a>
                        </div>
                        <!-- DESCRIPCION -->
                        <div class="row">
                            <div class="col s12">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li class="">
                                        <div class="collapsible-header fondo-azul texto-blanco center-align"><b>D E S C R I P C I Ó N</b></div>
                                        <div class="collapsible-body fondo-gris">
                                            <span>
                                                Mazda equipados todos los niveles de acabado de la "i", 
                                                la versión 6 con un motor de cuatro cilindros de 2.5 litros en línea. 
                                                Mazda genera mucha más potencia, el bombeo de 272 caballos a 6.250 
                                                rpm y 269 libras-pie de torque a 4.250 rpm 
							</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Termina descripcion -->
                    </div>
                </div>
                <!--  Sección Ofertar-->
                <section class="container">
                    <div class="row center-align">
                        <h4>Precio Actual <span>$4000</span></h4>
                    </div>
                    <div class="row center-align">
                        <div class="offset-s1 col s10">
                            <div class="file-field ">
                                <button type="button" name="button" class="btn fondo-gris--oscuro col s4" id="boton">
							OFERTAR
						</button>
                                <div class="file-path-wrapper">
                                    <input class="validate" type="text" id="inputsubasta">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


            <!--footer-->
            <footer class="center-align fondo-azul">
                <b>© 2020 Copyright </b>
            </footer>
            <!--termina footer-->
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
            <script src="../detalleproducto.js"></script>
            <script type="text/javascript" src="../js/detalle-productoapi.js"></script>

</body>

</html>